{% extends 'layouts/base.html' %}

{% block title %} All Events {% endblock title %}

{% block content %}

  {% load static %}

  <style>
    #dt-search-0{
      text-align: left;
      padding-left: 10px;
    }
    

/* Customize Scrollbar */
#table-div::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

#table-div::-webkit-scrollbar-track {
    background: #f0f0f0; /* Background of the track */
    border-radius: 8px; /* Rounded corners */
}

#table-div::-webkit-scrollbar-thumb {
    background-color: grey; /* Scrollbar thumb color */
    border-radius: 8px; /* Rounded corners */
    border: 2px solid #f0f0f0; /* Space between thumb and track */
}

/* Hover Effect for Scrollbar */
#table-div::-webkit-scrollbar-thumb:hover {
    background-color: grey; /* Darker thumb color on hover */
}

/* Firefox Scrollbar */
#table-div {
    scrollbar-width: thin; /* Make scrollbar thinner */
    scrollbar-color:grey #f0f0f0; /* Thumb and track color */
}





  </style>


  <!-- Data Table css -->
  <link rel="stylesheet" href="{% static 'assets/css/lib/dataTables.min.css' %}">



{% include 'inc/alert.html' %}

<div class="dashboard-main-body">

  <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
<h6 class="fw-semibold mb-0">Transaction History</h6>
<ul class="d-flex align-items-center gap-2">
  <li class="fw-medium">
    <a href="{% url 'home' %}" class="d-flex align-items-center gap-1 hover-text-primary">
      <iconify-icon  icon="fluent-mdl2:money" class="icon text-lg"></iconify-icon>
      Payments
    </a>
  </li>
  <li>-</li>
  <li class="fw-medium">Transaction Histoires</li>
</ul>
</div>
  
  <div class="card basic-data-table">
    <div class="card-header">
      <h5 class="card-title mb-0">All Transaction</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive" id="table-div">
        <table class="table bordered-table mb-0" id="dataTable" data-page-length='10'>
          <thead>
            <tr>
              <th scope="col">
                <div class="form-check style-check d-flex align-items-center">
                  <label class="form-check-label">
                    S.L
                  </label>
                </div>
              </th>
              <th scope="col">ID</th>
              <th scope="col">Description</th>
              <th scope="col">Issued Date</th>
              <th scope="col">Issued Time</th>
              <th scope="col">Amount</th>
              <th scope="col">Payment Type</th>
            </tr>
          </thead>
          <tbody>
           {% for payment in request.user.payment_history.all %}
           <tr>
            <td>
              <div class="form-check style-check d-flex align-items-center">
                <label class="form-check-label">
                  {{forloop.counter}}
                </label>
              </div>
            </td>
            <td><a href="javascript:void(0)" class="text-primary-600">#{{payment.trans_id}}</a></td>
            <td>
              <div class="d-flex align-items-center">
                <h6 class="text-md mb-0 fw-medium flex-grow-1">{{payment.message}}</h6>
              </div>
            </td>
            <td>{{payment.date_on.date}}</td>
            <td>{{payment.date_on.time}}</td>
            <td>Rs.{{payment.amount}}</td>
            {% if payment.payment_type == "c" %}
              <td> <span class="bg-success-focus text-success-main px-24 py-4 rounded-pill fw-medium text-sm"> + Credited</span> </td>
            {% else %}
              <td> <span class="bg-warning-focus text-success-main px-24 py-4 rounded-pill fw-medium text-sm"> - Debited</span> </td>
            {% endif %}
          </tr>
           {% endfor %}
       
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- jQuery library js -->
<script src="{% static 'assets/js/lib/jquery-3.7.1.min.js' %}"></script>

<!-- Data Table js -->
<script src="{% static 'assets/js/lib/dataTables.min.js' %}"></script>

<script>
  let table = new DataTable('#dataTable');
</script>
  
{% endblock content %}