{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} All Events {% endblock title %}

{% block content %}

{% include 'inc/alert.html' %}
<style>
    .shareLink .permalink {
  position: relative;
  border-radius: 30px;
}
.shareLink .permalink .textLink {
  
  padding: 12px 60px 12px 30px;
  
}
@media (max-width: 767px) {
  .shareLink .permalink .textLink {
    width: 100%;
  }
}
.shareLink .permalink .textLink:focus {
  border-color: #d8d8d8;
}
.shareLink .permalink .copyLink {
  position: absolute;
  top: 65%;
  z-index: 9999;
  right: 20px;
  cursor: pointer;
  transform: translateY(-50%);
}
.shareLink .permalink .copyLink:hover:after {
  opacity: 1;
  transform: translateY(0) translateX(-50%);
}
.shareLink .permalink .copyLink:after {
  content: attr(tooltip);
  width: 140px;
  bottom: -40px;
  left: 50%;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.8rem;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  transform: translateY(-10px) translateX(-50%);
  transition: all 300ms ease;
  text-align: center;
}

.ref-row{

display: flex;
  justify-content: space-around;
  padding: 5%;
  flex-wrap: wrap;
}
</style>

<div class="dashboard-main-body">

    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
  <h6 class="fw-semibold mb-0">Event Info</h6>
  <ul class="d-flex align-items-center gap-2">
    <li class="fw-medium">
      <a href="{% url 'home' %}" class="d-flex align-items-center gap-1 hover-text-primary">
        <iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>
        Payments 
      </a>
    </li>
    <li>-</li>
    <li class="fw-medium">Referrls / Refer People</li>
  </ul>
</div>


      




    <div class="row gy-4">
    
           
        <div class="col">
            <div class="card p-0 overflow-hidden position-relative radius-12 h-100">
              
                <div class="card-body p-24 pt-10">
                    
                    <div class="ref-row">
                        <div class="ref-col">
                          <img src="{% static 'assets/images/referrel.svg' %}" alt="">
                          <h5>Refer Friends & Earn Reward </h5>
                          <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="ref-col">
                          <div class="row border rounded-5 p-3 bg-white shadow box-area" style="padding: 5% !important;box-shadow: 0 6px 30px rgba(182, 186, 203, 0.3) !important;">
                            <div class="align-items-center">
                                  <div class="mb-4">
                                    <h4 style="font-size: larger !important; margin: 20px 0;">Refferal Link & Code</h4>
                                    <div class="">
                                        <div class="card p-3 shadow-none radius-8 border h-100 bg-gradient-end-1">
                                            <div class="card-body p-0">
                                            <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">
                                                
                                                <div class="d-flex align-items-center gap-2">
                                                    <span class="mb-0 w-48-px h-48-px bg-primary-600 flex-shrink-0 text-white d-flex justify-content-center align-items-center rounded-circle h6 mb-0">
                                                    <iconify-icon icon="mingcute:user-follow-fill" class="icon"></iconify-icon>  
                                                    </span>
                                                    <div>
                                                    <span class="mb-2 fw-medium text-secondary-light text-sm">Purchased Members</span>
                                                    <h6 class="fw-semibold">{{ref_count}}</h6>
                                                    </div>
                                                </div>
                                                
                                                <div id="new-user-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
                                            </div>
                                            <p class="text-sm mb-0">Total Joined Members  <span class="bg-success-focus px-1 rounded-2 fw-medium text-success-main text-sm">+{{total_ref_count}}</span> this week</p>
                                            </div>
                                        </div>
                                        </div>
                                  </div>
                                  <div class="my-5">
                                      <div class="shareLink">
                                        <div class="permalink">
                                          <label for="token">Refferal code</label>
                                          <input class="textLink form-control form-control-lg bg-light " style="color:#252525 !important; border:none !important;" id="text" type="text" name="shortlink" value="{{request.user.referrel_token.token}}" id="copy-link" readonly="">
                                          <span class="copyLink" id="copy" tooltip="Copy to clipboard">
                                            <iconify-icon icon="si:copy-line" width="24" height="24"></iconify-icon>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="my-5">
                                      <div class="shareLink">
                                        <div class="permalink">
                                          <label for="token">Refferal Link</label>
                                          <input class="textLink form-control form-control-lg bg-light " style="color:#252525 !important; border:none !important;" id="link" type="text" name="shortlink" value="{{ref_link}}" id="copy-link" readonly="">
                                          <span class="copyLink" id="copy-link" tooltip="Copy to clipboard">
                                            <iconify-icon icon="si:copy-line" width="24" height="24"></iconify-icon>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                
                              
                            </div>
                        </div>
                      </div>
           </div> 
          </div>
                </div>  
            </div>
        </div>
    </div>
        
     <script>
        
        const input_link = document.getElementById("link");
        const copyButton_link = document.getElementById("copy-link");
        
        const copyTextLink = (e) => {
          // window.getSelection().selectAllChildren(textElement);
          input_link.select(); //select input value
          document.execCommand("copy");
          e.currentTarget.setAttribute("tooltip", "Copied!");
        };
        
        const resetTooltipLink = (e) => {
          e.currentTarget.setAttribute("tooltip", "Copy to clipboard");
        };
        
        copyButton_link.addEventListener("click", (e) => copyTextLink(e));
        copyButton_link.addEventListener("mouseover", (e) => resetTooltipLink(e));
        
        
        // ---------------------
        
        const input = document.getElementById("text");
        const copyButton = document.getElementById("copy");
        
        const copyText = (e) => {
          // window.getSelection().selectAllChildren(textElement);
          input.select(); //select input value
          document.execCommand("copy");
          e.currentTarget.setAttribute("tooltip", "Copied!");
        };
        
        const resetTooltip = (e) => {
          e.currentTarget.setAttribute("tooltip", "Copy to clipboard");
        };
        
        copyButton.addEventListener("click", (e) => copyText(e));
        copyButton.addEventListener("mouseover", (e) => resetTooltip(e));
     </script>
    
    </div>

  </div>




{% endblock content %}